build
.gradle
.gradletasknamecache
out
*.iml
.vscode

*.versionsBackup
*.releaseBackup
release.properties
local.properties
*.swp

.video
.attach_pid*
apidoc


bin/
.settings
.project
.classpath
.konan

.DS_Store

hs_err_pid*.log

src/main/resources/secrets.conf